* {
  margin: 0;
  padding: 0;
}


.head {
  background: url("../img/firstview.jpg") no-repeat ;
  height: 400px;
  position: relative;
}


.head h1 {
  font-size: 40px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.about {
  padding-top: 70px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}


.about h2{
  padding-bottom: 70px;
  font-size: 30px;
}


.about p {
  line-height: 30px;
}


.blog {
  padding: 70px 150px 0 150px;
  
}


.blog h2 {
  padding-bottom: 70px;
  font-size: 30px;
  text-align: center;
}


.blog_content ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}


.blog_content_item {
  width: 30%;
}


.blog_content_item img {
  width: 100%;
  padding-bottom: 20px;
}


.contact {
  padding: 70px;
  width: 40%;
  margin: 0 auto;
}


.contact h2 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 70px;
}


.contact_form {
  line-height: 40px;
}


dt {
  width: 40%;
  float: left;
}


dd {
  width: 60%;
  float: left;
}


dd input, textarea {
  width: 100%;
}


.btn {
  text-align: center;
}


.btn_delete {
  width: 200px;
  height: 40px;
  border-style: none;
  background-color: #BBBBBB;
  margin-right: 10px;
}


.btn_send {
  width: 200px;
  height: 40px;
  border-style: none;
  background-color: #20B2AA;
  color: white;
  margin-left: 10px;
}