* {
  margin: 0;
  padding: 0;
}


.head {
  background: url("../img/firstview.jpg") no-repeat ;
  height: 400px;
  position: relative;
}


.head h1 {
  font-size: 40px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.about {
  padding-top: 70px;
  text-align: center;
}


.about h2{
  padding-bottom: 70px;
  font-size: 30px;
}


.blog {
  padding: 70px 70px 0 70px;
  
}


.blog h2 {
  padding-bottom: 70px;
  font-size: 30px;
  text-align: center;
}


.blog_content ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}


.blog_content_item {
  width: 30%;
}


.blog_content_item img {
  width: 100%;
  padding-bottom: 20px;
}


.contact {
  padding: 70px;
}


.contact h2 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 70px;
}